# IntelliJ specific
.idea/*
*.iml
# Windows image file caches
Thumbs.db
ehthumbs.db
# Folder config file
Desktop.ini
# Recycle Bin used on file shares
$RECYCLE.BIN/
# Mac crap
.DS_Store
# Others
~$*
*~

/.vscode/
frontend/Changelog_Definitions.lua
frontend/CombatText_Definitions.lua
frontend/CrowdControlTracker_Definitions.lua
